#header{
    width: 30rem;
    height: 3.25rem;
    background-color: var(--bg-color);
    margin-top: 5%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom: 2px solid var(--primary-color);
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

#header .logotype{
    width: 12.75rem;
    
}

#header .logotype >img{
    width: 100%;
    height: 100%;
}

#header .profileIcon{
    width: 40px;
    height: 40px;
}

#header .profileIcon >img{
    width: 100%;
    height: 100%;
}

#navigate{
    padding-top: 1rem;
    background-color: var(--bg-color);
    margin-top: 0 !important;
    justify-content: center;
}

#navigate .navbar{
    justify-content: center;
}

#navigate .navbar a:hover{
    color: var(--primary-color);
    justify-content: center;
}

#navigate .navbar >ul{
    gap: 1rem;
}

#listas{
    background-color: var(--bg-color);
    padding: 1rem;
    align-items: center;
    gap: 1rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#listas .add-button button{
    width: 7rem;
}

#listas img{
    width: 100px;
    width: 100px;
}

section{
    margin-top: 5%;
}

.filtro-form input{
    margin-bottom: 0.5rem;
}
