.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.container {
  width: 25rem;
}

.desktop-only {
  display: none;
}

.mobile-only {
  display: flex;
}

@media(min-width: 819px){
  .container{
    width: 40rem;
  }
}

@media (min-width: 1025px) {
  .desktop-only {
    display: flex;
    flex-direction: row;
  }

  .mobile-only {
    display: none;
  }

  .container {
    width: 80rem;
  }
}


